

{% extends 'base_layout.html' %} 
{% load static from staticfiles %}
{% block content %}
    <div class="article_detail">
            <img class="top_img" src="/media/top.PNG"/>
            <section>
                <h2>{{ article.title }}</h2>
                <div class="title_article">
                    <p>{{ article.date }}</p>
                    <hr>  
                </div>
                <div class="article_detail_body">
                    <p class="article_body">{{ article.body }}</p>
                    <p class="article_author">Written by {{ article.author }}</p>
                </div>
            </section>
            <aside>
                <div class="img_article">
                    <img  src="{{ article.thumb.url }}" width="200px" height="400px">
                </div>
                <div class="quote">
                    <p class="the_quoute">" {{ article.quote }}"</p>
                </div>
            </aside>
    </div>
{% endblock %}     