
<title> </title>                  <!--ARTICLE NAME-->
{% extends 'base_layout.html' %} 
<!--{% load static from staticfiles %}

    
<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'logo.PNG' %}">
        <link rel = "stylesheet" href ="{% static 'style.css' %}">
    </head>
    <body>-->

{% block content %}
    <div class="article_detail">
        
            <img class="top_img" src="{% static 'top.PNG' %}"/>
        
            <section>
                <h2>{{ article.title }}</h2>
                <div class="title_article">
                    <p>{{ article.date }}</p>
                    <hr>  
                </div>
               
                <div class="article_detail_body">
                    
                    <p class="article_body">{{ article.body }}</p>
                    <p class="article_author">Written by {{ article.author }}</p>
                </div>
            </section>
        
            <aside>
                <div class="img_article">
                    <img  src="{{ article.thumb.url }}" width="200px" height="400px">
                </div>
                <div class="quote">
                    <p class="the_quoute">{{ article.quote }}</p>
                </div>
            </aside>
    </div>
{% endblock %}     
        
<!-- </body>
</html>-->